.foto {
    
    background-size: cover;
    background-repeat: no-repeat;
  }
  .foto img {
    background-repeat: no-repeat;
  
    }
    .card-text{
      font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;
font-size: medium;
    }
    
    .card{
      background-color: beige;
    }
    .header{
      background-color: beige;
    }
    
  
    .navegacion{
      background-color: beige;
    }
    .card-title{
      font-family: 'Josefin Sans', sans-serif;
      font-family: 'Lato', sans-serif;
      background-color: beige;
    }
    .contacto{
      background-color: beige;
    }
    